---
// component imports
import { Icon } from "astro-icon";
import { getCollection, CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Heading from "@components/Heading.astro";
import Main from "@components/Main.astro";
import Link from "@components/Link.astro";

// utils
import { slugify, formatContent, dateFormat } from "@/lib/utils";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  const formattedPosts: CollectionEntry<"posts">[] = formatContent(posts);

  const allCategories: string[] = [];

  formattedPosts.forEach((post) => {
    allCategories.push(slugify(post.data.category));
  });

  const newCategories = [...new Set(allCategories)];

  return Array.from(new Set(newCategories)).map((cat) => {
    return {
      params: { category: cat },
      // only keep the blogposts that contain the category itself
      props: {
        catPosts: formattedPosts.filter((post) =>
          slugify(post.data.category) === cat
        )
      },
    };
  });

}
const { category } = Astro.params;
const { catPosts } = Astro.props;
---

<Layout
  title={`Posts about ${category}`}
  description={`Posts about ${category}`}
>
  <Main className="pt-10">
    <Heading className={'md:pt-10 pt-20'}>
      Posts about
      <span class="dark:text-gray-400 text-gray-600 capitalize">
        {category}
      </span>
    </Heading>
    {
      catPosts.map((post) => (
      <div class="py-5">
        <h2 class="font-rubik font-bold text-xl">
          {post.data.title}
          {post.data.draft && (<span>+</span>)}
        </h2>
        <div class="flex items-center pt-2 gap-4">
        <div class="inline-flex gap-1">
          <Icon name="tabler:user" width="20" height="20" />
          <Link href={`/author/${slugify(post.data.author.name)}`}>
            {post.data.author.name}
          </Link>
        </div>
        <div class="inline-flex gap-1">
          <Icon name="tabler:calendar" width="20" height="20" />
          {dateFormat(post.data.date)}
        </div>
        </div>
        <p class="my-2 text-justify">{post.data.description}</p>
        <Link href={`/posts/${post.slug}`}>Read more...</Link>
      </div>
      ))}
  </Main>
</Layout>

